<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/styles.css" rel="stylesheet">
        <link href="static/logo.png" rel="icon">
        <title>Turnbridge Time-Off: {% block title %}{% endblock %}</title>
    </head>

    <body>
        <!-- Nav Bar -->
        <nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #030974;">
            <a class="navbar-brand" href="/">Turnbridge Time-Off Tracker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/totals">View Totals</a></li>
                    <li class="nav-item"><a class="nav-link" href="/employee">Add Employee</a></li>
                    <li class="nav-item"><a class="nav-link" href="/add">Add PTO Earned</a></li>
                    <li class="nav-item"><a class="nav-link" href="/subtract">Subtract Time-Off</a></li>
                </ul>
            </div>
        </nav>
        <br><br>

        <main class="container p-5 border">
            <div style="font-size: x-large;"><img src="static/logo2.png" width="80"><br>
            {% block header %}{% endblock %}</div>
            {% block main %}{% endblock %}
        </main>
    </body>
</html>
